/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

.bracket-item:after, .bracket-item:before {
        content: "";
        display: block;
        position: absolute;
      }
      
      .bracket-item:after {
        right: -16px;
        width: 15px;
      }
      
      .bracket-item:nth-child(even):after {
        border-bottom: 1px solid black;
        border-bottom-right-radius: 0.3em;
        border-right: 1px solid black;
        bottom: 50%;
        height: 80%;
      }
      
      .bracket-item:nth-child(odd):after {
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-top-right-radius: 0.3em;
        height: 80%;
        top: 50%;
      }
      
      .bracket-item:nth-child(odd):before {
        border-top: 1px solid black;
        bottom: -32%;
        right: -27px;
        width: 12px;
      }

    } */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .bracket-item {
    position: relative;
  }

  .bracket-item:after, .bracket-item:before {
    content: "";
    display: block;
    position: absolute;
  }

  .bracket-item:after {
    right: -16px;
    width: 15px;
  }

  .bracket-item:after {
    position: absolute;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-right: 1px solid black;
    top: 0%;
    bottom: 0%;
    height: 100%;
  }

  /* .bracket-item:nth-child(odd):after {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-top-right-radius: 0.3em;
    height: 0%;
    bottom: 0%;
  } */

  .bracket-item:nth-child(odd):before {
    border-top: 1px solid black;
    bottom: -50%;
    right: -27px;
    width: 12px;
  }

  /* .bracket .match {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */

}