@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply border border-opacity-20 shadow-md;
        display: flex;
        flex-direction: column;
        padding: 3rem;
        border-radius: 1rem;
        max-width: 450px;
        width: 100%;
        gap: 0.75rem;
    }

    .input {
        @apply mt-1 block w-full px-3 py-2 border rounded-md shadow-sm;
    }

    .button {
        @apply bg-primary-color-green text-primary-color-white shadow-md hover:bg-secondary-color-dark-green;
        display: flex;
        justify-content: center;
        flex-direction: center;
        align-items: center;
        padding: 0.75rem 1.5rem;
        border-radius: 1rem;
    }

    .error {
        color: red;
    }

    .border {
        border-radius: 1rem;
    }

    .leaderboard-box {
        border-radius: 5px;
    }


    .h-screen-minus-navbar {
        @apply h-screen;
        height: calc(100vh - 80px); /* 115px is the height of the navbar */
    }

    .main-container {
        @apply flex w-full p-9 gap-2 justify-evenly;
    }


    .min-height-300px {
        min-height: 300px;
    }

    .min-height-600px {
        min-height: 600px;
    }

    .active {
        font-weight: bold;
        color: rgb(34 197 94);
    }
    
    .active-button {
        font-weight: bold;
        color: rgb(34 197 94);
        text-underline-offset: 0.5rem;
    }

    .btn {
        position: relative;
        text-decoration: none; /* Remove default underline */
    }
    
    .btn::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px; /* Adjust this value for the spacing */
        height: 2px; /* Thickness of the underline */
        background-color: currentColor; /* Use the text color */
        transform: scaleX(0); /* Initially hide the underline */
        transition: transform 0.3s ease;
    }
    
    .btn:hover::after {
        transform: scaleX(1); /* Show underline on hover */
    }
}